
@{
    ViewBag.Title = "Hang";
    Layout = "~/Views/Shared/_LayoutPageDashBoard.cshtml";
}

<h2>Hang</h2>

<div class="w-75 mx-auto">
    <form method="post" action="/DashBoard/Create">
        <div class="mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input type="text" name="tenSP" class="form-control" placeholder="Tên sản phẩm">
        </div>
    </form>
</div>
